<html lang="en" >
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Angular Material style sheet -->
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
  <link rel="stylesheet" href="/static/css/style.css">

  <!-- Angular Material requires Angular.js Libraries -->
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>

  <!-- Angular Material Library -->
  <script src="http://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
  
  <!-- Application bootstrap  -->
  <script src="/static/js/main.js"></script>  
</head>

<body ng-app="AwayGameApp" layout="column" ng-cloak>
  <div class="instructions" layout="row" flex>
    <h1 class="numeral" flex>1.</h1>
    <div flex layout="column">
      <h1 class="instr-hdr">Choose your team</h1>
      <p class="expl">
        Which team's games would you like to go on the road and see?
      </p>
    </div>
  </div>
  <div class="logos" layout="row" layout-wrap>

  </div>
</body>
</html>
